* {
    margin: 0;
    padding: 0;
}
/* Home */
.bodyHome {
background-color: #E8EDF3;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 5px 10px;
    background-color: #4B4B4B;
  }
  .logo {
    margin-left: 30px;
    width: 90px;
    height: 90px;
  }
    .nav-links {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        list-style: none;
    }
    .nav-links a {
        color: #DAA520;
        text-decoration: none;
        padding: 80px 20px;
        font-size: 23px;
    }
    .nav-links a:hover {
        color: #daa520b4;
        transition: 0.3s;
    }
    .nav-links i {
        color: #fff;
        font-size: 30px;
    }
    .nav-links i:hover {
        color: #daa520c5;
        transition: 0.3s;
    }


/* Cadastro */
.bodyCadastro {
    background-image: url(/public/assets/imgs/1\ de\ mai.\ de\ 2025\,\ 14_21_07\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-position: 5% 30%;
}

.containerCadastro {
    background-color: #d9d9d960;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border-color: #DAA520;
    border-width: 2px;
    border-style: solid;
    padding: 0 12.5rem;
}

.containerCadastro h1 {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    margin: 1.5rem;
}

.input-root-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.input-container input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    box-sizing: border-box;
    border-radius: 7px;
    border: 1px solid #000000;
    font-size: 1rem;
}

.input-container input:focus {
    outline: none;
    border: 1px solid #DAA520;
    box-shadow: 0 0 5px #DAA520;
}

.input-container {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 300px;
}

.cadastrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cadastrar button {
    display: flex;
    align-items: center;
    background-color: #DAA520;
    color: #fff;
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
    border: solid 1px #070707;
}

.cadastrar button:hover {
    background-color: #daa520d5;
    color: #ffffffd3;
    transition: 0.3s;
}

.linkConta {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.linkConta a {
    color: #fff;
    text-decoration: none;
    padding-left: 5px;
}

.linkConta a:hover {
    color: #ffffffd0;
    text-decoration: underline;
    transition: 0.3s;
}

#icon {
    position: absolute;
    left: 15px;
    top: 2px;
    transform: translate(-50%);
    pointer-events: none;
    padding-top: 10px;
}

/* ____________________________________________________________________________ */
/* Login */

.bodyLogin {
    background-image: url(/public/assets/imgs/1\ de\ mai.\ de\ 2025\,\ 14_21_07\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-position: 5% 30%;;
}

.containerLogin {
    background-color: #d9d9d960;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border-color: #DAA520;
    border-width: 2px;
    border-style: solid;
    padding: 0 8rem;
}

.containerLogin h1 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    margin: 4rem;
}

.logar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logar button {
    display: flex;
    align-items: center;
    background-color: #DAA520;
    color: #fff;
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 10px;
    border: solid 1px #070707;
}

.logar button:hover {
    background-color: #daa520d5;
    color: #ffffffd3;
    transition: 0.3s;
}
.linkConta {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.linkConta a {
    color: #fff;
    text-decoration: none;
    padding-left: 5px;
}

.linkConta a:hover {
    color: #ffffffd0;
    text-decoration: underline;
    transition: 0.3s;
}